@import "../../variables.scss";

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.product-description {
  margin-bottom: 20px;
}

.product-price {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--green-themes);
}
